body {
  margin: 0;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 200%;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
}

h3 {
  color: #11999E;
}
.programmer {
  font-weight: normal;
  line-height: 2;
}

hr {
  text-align: center;
  color: #EAF6F6;
  border-top: 5px dotted;
  border-top-width: 5px
}

.top-container {
  background-color: #f0ece3;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {
  background-color: #99b898;
  margin-bottom: none;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 500px;
}

.profilephoto {
  margin-top: 5rem;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skillsphoto {
  width: 25%;
  margin: 100px auto 100px auto;
  float: left;
  margin-right: 30px;
}

.workphoto {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  color: #11999E;
}

.footer-link {
  color: #11999E;
}

.last-color {
  color: #EAF6F6;
}
